@model IEnumerable<BPKB.MVC.Tables.ms_storage_location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Location</a>
</p>
<p>
    <a asp-action="IndexBPKB">View BPKB</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.location_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.location_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.location_id">Edit</a>
                @* | <a asp-action="Details" asp-route-id="@item.location_id">Details</a>
                | <a asp-action="Delete" asp-route-id="@item.location_id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
