@model IEnumerable<BPKB.MVC.Tables.tr_bpkb>

@{
    ViewData["Title"] = "BPKB";
}

<h1>BPKB</h1>

<p>
    <a asp-action="Create">Add New BPKB</a>
</p>
<p>
    <a asp-action="IndexStorageLocation">View Storage Location</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.agreement_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bpkb_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bpkb_date_in)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bpkb_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faktur_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faktur_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.police_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_updated_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_updated_on)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.agreement_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bpkb_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bpkb_date_in)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bpkb_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faktur_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faktur_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.police_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.location_id)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_updated_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_updated_on)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.agreement_number">Edit</a>
                @* | <a asp-action="Details" asp-route-id="@item.agreement_number">Details</a>
                | <a asp-action="Delete" asp-route-id="@item.agreement_number">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
